# python

__pycache__/
*.pyc

# claude

CLAUDE.md
plan/

# prism files

api/

config/*.csv
config/*.txt

data/qualtrics/
data/followmee/
data/messages/

scripts/

logs/ema_logs/
logs/feedback_logs/
logs/transcripts/
logs/interface_logs/