"unique_id","last_name","first_name","on_study","phone_number","ema_time","ema_reminder_time","feedback_time","feedback_reminder_time"
"000000000","Doe","Jane","yes","5555550100","09:00:00","10:00:00","19:00:00","20:00:00"
