"initials","subid","unique_id","on_study","phone_number","ema_time","ema_reminder_time","feedback_time","feedback_reminder_time"
"JD","3000","000000000","yes","5555550100","09:00:00","10:00:00","19:00:00","20:00:00"
