"destination_path","drive_letter","network_domain","network_username","wisc_netid","wisc_password"
"REPLACE_WITH_DESTINATION_PATH","Z","REPLACE_WITH_NETWORK_DOMAIN","REPLACE_WITH_NETWORK_USERNAME","REPLACE_WITH_WISC_NETID","REPLACE_WITH_WISC_PASSWORD"
